<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Control de Rastro Grole</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
